.turtle {
      width: 30vmin;
      height: 30vmin;
      position: relative;
      /*animation: walk 30s infinite -0.4s;
      animation-timing-function:linear;*/
    }

    .turtle img {
      height: 100%;
      position: absolute;
      transition: opacity 0.3s ease-out;
      user-select: none
    }
    .turtle img:nth-child(1) {
        transform: translateX(-50%)
    }
    .turtle img:nth-child(4) {
        transform: translateX(-50%)
    }

    .turtle img:nth-child(2) {
      top: 57%;
      left: 31.3%;
      height: 25%;
      animation: left 1.2s infinite;
      animation-timing-function:linear;
    }

    .turtle img:nth-child(3) {
      top: 59.5%;
      left: 65%;
      height: 25%;
      animation: right 1.2s infinite -0.4s;
      animation-timing-function:linear;
    }

    @keyframes left {
      0%{
        transform: translate(2.5%,-10.74%) rotate(0deg) translate(-2.5%,10.74%);
      }
      20%{
        transform: translate(2.5%,-10.74%) rotate(14deg) translate(-2.5%,10.74%);
      }
      25%{
        transform: translate(2.5%,-10.74%) rotate(15deg) translate(-2.5%,10.74%);
      }
      30%{
        transform: translate(2.5%,-10.74%) rotate(14deg) translate(-2.5%,10.74%);
      }
      70%{
        transform: translate(2.5%,-10.74%) rotate(-14deg) translate(-2.5%,10.74%);
      }
      75%{
        transform: translate(2.5%,-10.74%) rotate(-15deg) translate(-2.5%,10.74%);
      }
      80%{
        transform: translate(2.5%,-10.74%) rotate(-14deg) translate(-2.5%,10.74%);
      }
      100%{
        transform: translate(2.5%,-10.74%) rotate(0deg) translate(-2.5%,10.74%);
      }
    }
    @keyframes right {
      0%{
        transform: translate(-3.9%,-10.74%) rotate(0deg) translate(3.9%,10.74%);
      }
      20%{
        transform: translate(-3.9%,-10.74%) rotate(14deg) translate(3.9%,10.74%);
      }
      25%{
        transform: translate(-3.9%,-10.74%) rotate(15deg) translate(3.9%,10.74%);
      }
      30%{
        transform: translate(-3.9%,-10.74%) rotate(14deg) translate(3.9%,10.74%);
      }
      70%{
        transform: translate(-3.9%,-10.74%) rotate(-14deg) translate(3.9%,10.74%);
      }
      75%{
        transform: translate(-3.9%,-10.74%) rotate(-15deg) translate(3.9%,10.74%);
      }
      80%{
        transform: translate(-3.9%,-10.74%) rotate(-14deg) translate(3.9%,10.74%);
      }
      100%{
        transform: translate(-3.9%,-10.74%) rotate(0deg) translate(3.9%,10.74%);
      }
    }

   
